@charset "UTF-8";

/*
PALETA DE CORES

VERDE: #49A09D
LILÃS: #5F2C82
*/

:root {
    --verde: #49A09D;
    --lilas: #5F2C82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--lilas) url(../imagens/img.jpg);
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}